<div class="web_introduction">
    <div class="web_introduction_text">
        <h1 class="web_introduction_text_title">ONLINE SHOP </h1>
        <h2>REAL-TIME MESSAGE AND VIDEO CALL</h2>
        <br>
        <br>
        <span class="web_introduction_content">Do you want to have a shopping website that can communicate directly with
            customers?</span>
        <br>
        <br>
        <span class="web_introduction_content">Our website not only has complete front-end functions, but also has
            back-end functions specially for managers. You can clearly see product sales on the above, and you can also
            manage customer information and process orders at the same time.</span>
        <br>
        <br>
        <span class="web_introduction_content">In addition, your customer groups can also chat with each other to
            increase customer loyalty</span>
        <br>
        <br>
        <br>
        <button id="entrance_page_customer_login_button" class="glow-on-hover" type="button">CUSTOMER LOGIN</button>
        <button id="entrance_page_admin_login_button" class="glow-on-hover" type="button">ADMIN LOGIN</button>
    </div>
    <div class="web_introduction_video">
        <div class="model_picture">
            <div id="video_details_box" class="video1">
                <video id="video_details" class="video2" autoplay muted controls width="500px" height="260">
                    <source src="https://d3ce9biuqz84nv.cloudfront.net/client_buy_flow.mp4" type="video/mp4" />
                    <source src="https://d3ce9biuqz84nv.cloudfront.net/client_buy_flow.mp4" type="video/ogg" />
                </video>
            </div>
        </div>
    </div>

</div>

<div class="entrance_button_layout">
    <div class="entrance_button_layout_center">
        <div class="home_page">
            <div class="home_page_image"><img src="/images/online-shop.png" height="70%" width="60%"></div>
            <div class="home_page_text">
                <h2>購物網站</h2>
                <span>Customers can shop and checkout here, with full shopping cart functionality.</span>
            </div>
        </div>
    </div>
    <div class="entrance_button_layout_center">
        <div class="user_page">
            <div class="user_page_image"><img src="/images/data-analysis.png" height="70%" width="60%"></div>
            <div class="user_page_text">
                <h2>店家後臺</h2>
                <span>The store manager can check the order list, sales statistics, and upload new products from the
                    background.</span>
            </div>
        </div>
    </div>
    <div class="entrance_button_layout_center">
        <div class="chat_room_entrance">
            <div class="chat_room_image"><img src="/images/group-chat.png" height="70%" width="60%"></div>
            <div class="chat_room_text">
                <h2>聊天室</h2>
                <span>The chat room can manage all conversation records at the same time, and customers can also use the
                    chat room to chat with friends.</span>
            </div>
        </div>
    </div>
    <div class="entrance_button_layout_center">
        <div class="video_chat_entrance">
            <div class="video_chat_image"><img src="/images/video-call.png" height="70%" width="60%"></div>
            <div class="video_chat_text">
                <h2>視訊對話</h2>
                <span>One-on-one video chat</span>
            </div>
        </div>
    </div>

</div>
<div class="model">
    <div class="model_title">ONLINE SHOPING & CART</div>
    <div class="model_content">Customers can shop and checkout here, with full shopping cart functionality.</br>br They
        can also contact the seller directly on the homepage.</div>
    <div class="model_picture">
        <div class="video1">
            <video class="video2" autoplay muted loop controls width="800px" height="400">
                <source src="https://d3ce9biuqz84nv.cloudfront.net/client_buy_flow.mp4" type="video/mp4" />
                <source src="https://d3ce9biuqz84nv.cloudfront.net/client_buy_flow.mp4" type="video/ogg" />
            </video>
        </div>
    </div>
</div>
<div class="model">
    <div class="model_title">MANAGER PAGE</div>
    <div class="model_content">The store manager can check the order list, sales statistics, and upload new products
        from the background.</br>Colleagues can also change the order progress from this page.</div>
    <div class="model_picture">
        <div class="video1">
            <video class="video2" autoplay muted loop controls width="800px" height="400">
                <source src="https://d3ce9biuqz84nv.cloudfront.net/user_page.mp4" type="video/mp4" />
                <source src="https://d3ce9biuqz84nv.cloudfront.net/user_page.mp4" type="video/ogg" />
            </video>
        </div>
    </div>
</div>
<div class="model">
    <div class="model_title">CHAT ROOM</div>
    <div class="model_content">Managers can handle all messages from customers in this chat room.</br> These messages
        are timely.</br> Customers can also add friends and chat with each other to increase the stickiness to our
        online shop..</div>
    <div class="model_picture">
        <div class="video1">
            <video class="video2" autoplay muted loop controls width="800px" height="400">
                <source src="https://d3ce9biuqz84nv.cloudfront.net/real_time_text_message.mp4" type="video/mp4" />
                <source src="https://d3ce9biuqz84nv.cloudfront.net/real_time_text_message.mp4" type="video/ogg" />
            </video>
        </div>
    </div>
</div>
</div>
<div class="model">
    <div class="model_title">VIDEO CALL</div>
    <div class="model_content">From the chat room, you can call the manager for video chat, </br>so as to reflect the
        product problems in time, </br>or you can call your friends to communicate with each other.</br>You can also
        open a one-to-one video chat room from the homepage, and video chat with non-member friends.</div>
    <div class="model_picture">
        <div class="video1">
            <video class="video2" autoplay muted loop controls width="800px" height="400">
                <source src="https://d3ce9biuqz84nv.cloudfront.net/video_call.mp4" type="video/mp4" />
                <source src="https://d3ce9biuqz84nv.cloudfront.net/video_call.mp4" type="video/ogg" />
            </video>
        </div>
    </div>
</div>
</div>


<div class="entrance_info">
    <div class="entrance_welcome_text">Welcome to my online_shop !</div>
</div>